

<div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-4">Universidad de El Salvador</h1>
      <h2 class="font-weight-light">Facultad Multidisciplinaria Paracentral</h2>
      <h3 class="font-weight-light">Departamento de Informática</h3>
      <h4 class="font-weight-light">Cátedra: TPI</h4>
      <h5 class="font-weight-light">Docente: Ing. Herbert Monge</h5>
      <h5 class="font-weight-light">Alumna: Camila Portillo  Carnet: PG21021</h5>
    </div>
  <div class="card shadow-lg mb-4">
    <div class="card-body bg-light">
      <h5 class="card-title text-center text-secundary">Ingrese su texto</h5>
      <div class="form-group">
        <input 
          type="text" 
          class="form-control form-control-lg border-primary" 
          [(ngModel)]="texto" 
          placeholder="Digite Texto">
      </div>
      <p class="text-muted text-center">Texto escrito: {{texto}}</p>
    </div>
  </div>
</div>





